services:
    db:
        image: postgres:16-alpine
        restart: always
        environment:
            POSTGRES_USER: ai_testing_user
            POSTGRES_PASSWORD: StrongPassword123!
            POSTGRES_DB: ai_testing_db
        volumes:
            - postgres_data:/var/lib/postgresql/data
        ports:
            - '5432:5432'
        healthcheck:
            test: ['CMD-SHELL', 'pg_isready -U ai_testing_user -d ai_testing_db']
            interval: 10s
            timeout: 5s
            retries: 5
        networks:
            - app-network

    backend:
        build:
            context: ./backend/AiTesting
            dockerfile: ./AiTesting.Api/Dockerfile
        environment:
            ConnectionStrings__ASPNETCORE_CONNECTION_STRING: 'Host=db;Port=5432;Database=ai_testing_db;Username=ai_testing_user;Password=StrongPassword123!'
            ASPNETCORE_HTTP_PORTS: "8080"
            ASPNETCORE_ALLOWED_HOSTS: aitesting.tcom.uz.ua
            FRONTEND_EXTERNAL_URL: 'aitesting.tcom.uz.ua'
            GOOGLE_AI_API: 'AIzaSyDaPb29KENGuAXgg6V7_HG5V5rUaDlB9Uk'
        ports:
            - '8080:8080'
        depends_on:
            db:
                condition: service_healthy
        networks:
            - app-network

    frontend:
        build:
            context: ./frontend
            dockerfile: Dockerfile
            args:
                BACKEND_URL: 'https://aitesting.tcom.uz.ua/api/'
        volumes:
            - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf:ro
            - /etc/letsencrypt:/etc/letsencrypt:ro
        ports:
            - '80:80'
            - '443:443'
        depends_on:
            - backend
        networks:
            - app-network

    certbot:
      image: certbot/certbot
      volumes:
        - ./data/certbot/conf:/etc/letsencrypt
        - ./data/certbot/www:/var/www/certbot
        - /var/run/docker.sock:/var/run/docker.sock
      entrypoint: >
        sh -c "trap exit TERM;
               while :; do
                 certbot renew --webroot -w /var/www/certbot \
                   --deploy-hook \"docker exec frontend nginx -s reload\";
                 sleep 12h;
               done"


networks:
    app-network:
        driver: bridge

volumes:
    postgres_data:
        driver: local
    data:
