.question {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.questionInput {
  padding: 0.4rem;
  border-radius: 0.3rem;
  border: 1px solid #ccc;
  font-weight: 500;
}

.optionInput {
  width: 95%;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border: 1px solid #ccc;
}
