.testHeader {
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay {
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-bottom: 3rem;
  gap: 1rem;
}

.titleInput {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background: transparent;
  border: none;
  text-wrap: wrap;
  text-align: center;
  margin-bottom: 0.5rem;
  width: 90%;
}

.descriptionInput {
  font-size: 1rem;
  color: white;
  background: transparent;
  border: none;
  text-align: center;
  width: 90%;
  resize: none;
}

.dropZone {
  border: dashed #d1d5db;
  height: 40px;
  width: 40%;
  color: #d1d5db;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
}

.overlayFooter {
  position: absolute;
  bottom: 0.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}

.saveButton,
.cancelButton {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(117, 117, 117, 0.267);
  color: rgb(252, 252, 252);
  cursor: pointer;
  backdrop-filter: blur(6px);
  transition: all 0.2s ease;
}

.saveButton:hover,
.cancelButton:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.editorForm textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  font-size: 1rem;
  font-family: inherit;
  line-height: 1.4;
  background-color: #fff;
  resize: none;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.editorForm textarea:focus {
  border-color: #4a6fa1;
  box-shadow: 0 0 0 2px rgba(74, 111, 161, 0.2);
  outline: none;
}

.settings {
  display: flex;
  gap: 2rem;
  align-items: center;
  color: white;
  font-size: 1rem;
}

.checkboxLabel {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.timeLimitWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.timeLimitInput {
  width: 80px;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
  color: #ccc;
  border: 1px solid #ccc;
}
