.header {
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e293b;
  color: white;
  padding: 1rem 2rem;
  position: relative;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  gap: 0.2em;
}

.icon-image {
  height: 2rem;
}

.nav-links {
  font-size: 1.2rem;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 20px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 1000;
}

.menu-toggle span {
  display: block;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

/* Animate into X */
.menu-toggle.open span:nth-child(1) {
  transform: rotate(45deg) translate(10px, 10px);
}

.menu-toggle.open span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
  transform: rotate(-45deg) translate(2px, -2px);
}

/* Mobile styles */
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    gap: 0;
    right: 0;
    flex-direction: column;
    background-color: #1e293b;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
  }

  .nav-links.open {
    max-height: 500px;
  }

  .nav-links a {
    padding: 1rem 2rem;
    border-top: 1px solid #334155;
  }
}
