.wrapper {
  background-color: #1e293b;
}

.header {
  margin: 0 auto;
  max-width: var(--content-max-width);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1rem 2rem;
  position: relative;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  gap: 0.2em;
}

.iconImage {
  height: 2rem;
}

.navLinks {
  font-size: 1.2rem;
  display: flex;
  gap: 1.5rem;
}

.navLinks a {
  text-decoration: none;
  color: white;
}

.avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.menuToggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 20px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 1000;
}

.menuToggle span {
  display: block;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

/* Animate into X */
.menuToggle.open span:nth-child(1) {
  transform: rotate(45deg) translate(10px, 10px);
}

.menuToggle.open span:nth-child(2) {
  opacity: 0;
}

.menuToggle.open span:nth-child(3) {
  transform: rotate(-45deg) translate(2px, -2px);
}

/* Mobile styles */
@media (max-width: 768px) {
  .menuToggle {
    display: flex;
  }

  .navLinks {
    position: absolute;
    top: 100%;
    left: 0;
    gap: 0.5rem;
    right: 0;
    flex-direction: column;
    background-color: #1e293b;
    transform: translateY(-20px);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .navLinks.open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

  .navLinks a {
    padding: 1rem 2rem;
    border-top: 1px solid #334155;
  }
}
