.editTestPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: radial-gradient(#ddd 20%, #92b1da);
}

.wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 1000px;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loader {
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
}
