.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  background: white;
  border-radius: 12px;
  padding: 40px 30px;
  max-width: 420px;
  width: 90%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  position: relative;
}

.modalHeader {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: black;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.form {
  margin-top: 20px;
}

.formGroup {
  margin-bottom: 20px;
  width: 100%;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: black;
}

.formGroup input,
.formGroup select {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  font-size: 1rem;
}

.primaryBtn {
  width: 100%;
  padding: 12px;
  background-color: #1e40af;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.formGroup input.errorInput {
  border: 2px solid #c15755;
}

.errorText {
  color: #c15755;
  margin-top: 0.5rem;
  text-align: center;
}

.primaryBtn:hover {
  background-color: #1d4ed8;
}

.dropZone {
  border: dashed #d1d5db;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
}

.previewImage {
  max-height: 150px;
}
